<div class="container-fluid" style="width: 99%; margin-bottom: 1rem; padding: 1rem;">
    <form class="row" action="" method="post">
      <div class="col-md-6">
        <label class="form-label">tìm content</label><br>
        <div class="col-md-9 d-inline-block">
          <input type="text" class="form-control" placeholder="mã, tên, online, ofline,... ">
        </div>
        <div class="col-md-2 d-inline-block">
          <button class="btn btn-primary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
      </div>
    </form>
  </div>
    
  <div class="container-fluid" style="width: 98%; height: 100%;">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Tên content</th>
          <th>Hình</th>
          <th>mô tả</th>
          <th>ngày lập</th>
          <th>số thứ tự</th>
          <th>status</th>
          <th></th>
  
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <% Object.values(ct).forEach(element=> { %>
          <tr>
            <td><%= element.id %></td>
            <td><%= element.content_name %></td>
            <td><img src="/image/content/<%= element.content_img %>" width="100px"></td>
            <td><textarea name="" id="" cols="30" rows="2"><%= element.content_desc %></textarea></td>
            <td><%= element.content_date.toLocaleDateString('el-GR') %></td>
            <td><%= element.content_stt %></td>
            <td>
              <% if(element.content_status == 0){ %>
                <i class="fa-solid fa-x" style="color: #ff0000;"></i>
              <% }else{ %>
                <i class="fa-solid fa-signal" style="color: green;"></i>
              <% } %>
            </td>
            <td>
              <a href="/admin/edit-content/<%= element.id %>" class="me-3">
                <i class="fa-solid fa-pen-to-square" style="color: green;"></i>
              </a>
              <a href="/admin/delete-content/<%= element.id %>" onclick="return confirm('chắc chẵn xóa id:<%= element.id %> ?')">
                <i class="fa-solid fa-trash" style="color: #ff0000; "></i>
              </a>
            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>
  </div>